---
import Layout from '../layouts/Layout.astro';
import { aboutMap } from "../strings"

const aboutKeys = ["Rags", "Lex", "Morgen"]
---

<Layout title="About Us | RAGGSTARRECORDS">
	<main class=" px-20 bg-[#262626]">
		<h1 class=" text-center text-gray-200 font-[Druk] pt-20 pb-10 text-5xl">
			MEET THE TEAM
		</h1>
		<div class="flex flex-row flex-wrap justify-center gap-24 pb-20">
			{aboutKeys.map((name) => {
				return (
					<div class="flex flex-col items-start w-[320px]">
						<img src={`../team/${name.toLowerCase()}.jpeg`} class="rounded-full pb-2 object-cover h-[320px] w-[320px]"/>
						<h3 class=" text-2xl text-center text-gray-200">{name}</h3>
						<span class="flex flex-row w-full items-center justify-start pt-0 gap-3">
							<span class="text-gray-200 text-[12px]">{aboutMap[name]['role']}</span>
							<span class={`${aboutMap[name]["anime"]}`}></span>
						</span>
						<span class="pt-2 text-gray-200 text-[14px]">
							{aboutMap[name]["description"]}
						</span>
					</div>
				);
			})}
		</div>
	</main>
</Layout>
<style>
	span {
		line-height: 22px;
	}
	.bars-5 {
		width: 14px;
		aspect-ratio: 1;
		--c: no-repeat linear-gradient(#219aea 0 0);
		background: 
			var(--c) 0%   50%,
			var(--c) 50%  50%,
			var(--c) 100% 50%;
		background-size: 20% 100%;
		animation: b1 1s infinite linear;
	}
	@keyframes b1 {
		0%  {background-size: 20% 100%,20% 100%,20% 100%}
		33% {background-size: 20% 10% ,20% 100%,20% 100%}
		50% {background-size: 20% 100%,20% 10% ,20% 100%}
		66% {background-size: 20% 100%,20% 100%,20% 10% }
		100%{background-size: 20% 100%,20% 100%,20% 100%}
	}

	.bars-6 {
		width: 14px;
		aspect-ratio: .75;
		--c: no-repeat linear-gradient(#58d73c 0 0);
		background: 
			var(--c) 0%   50%,
			var(--c) 50%  50%,
			var(--c) 100% 50%;
		background-size: 20% 50%;
		animation: b6 1s infinite linear;
	}
	@keyframes b6 {
		20% {background-position: 0% 0%  ,50% 50% ,100% 50% }
		40% {background-position: 0% 100%,50% 0%  ,100% 50% }
		60% {background-position: 0% 50% ,50% 100%,100% 0%  }
		80% {background-position: 0% 50% ,50% 50% ,100% 100%}
	}

	.bars-7 {
		width: 14px;
		aspect-ratio: .75;
		--c: no-repeat linear-gradient(orange 0 0);
		background: 
			var(--c) 0%   50%,
			var(--c) 50%  50%,
			var(--c) 100% 50%;
		animation: b7 1s infinite linear alternate;
	}
	@keyframes b7 {
		0%  {background-size: 20% 50% ,20% 50% ,20% 50% }
		20% {background-size: 20% 20% ,20% 50% ,20% 50% }
		40% {background-size: 20% 100%,20% 20% ,20% 50% }
		60% {background-size: 20% 50% ,20% 100%,20% 20% }
		80% {background-size: 20% 50% ,20% 50% ,20% 100%}
		100%{background-size: 20% 50% ,20% 50% ,20% 50% }
	}
</style>