---
import PhotoCarousel from '../components/PhotoCarousel';
import VideoContainer from '../components/VideoContainer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Atlanta Recording Studio | RAGGSTARRECORDS">
	<main class={`bg-white`}>
		<section id="Book Now Hero Video">
			<VideoContainer />
		</section>
		<section id="Main Room + Pics">
			<span class=" bg-black w-full flex flex-col items-center py-4 md:py-10 justify-center">
				<h1 class=" text-white font-Futura text-2xl md:text-5xl ">
					Main Room
				</h1>
				<p class=" text-[10px] opacity-50">swipe to view pictures</p>
			</span>
		<PhotoCarousel client:load />
		</section>
	</main>
</Layout>