---
import PhotoCarousel from '../components/PhotoCarousel';
import VideoContainer from '../components/VideoContainer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Atlanta Recording Studio | RAGGSTARRECORDS">
	<main>
		<section id="Book Now Hero Video">
			<VideoContainer />
		</section>
		<section id="Main Room + Pics">
			<span class=" bg-black w-full flex items-center justify-center">
				<h1 class=" z-[1] text-white font-Futura text-5xl py-10">
					Main Room
				</h1>
			</span>
		<PhotoCarousel client:load />
		</section>
	</main>
</Layout>