.image-container {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
      opacity: 1;
}

.play-pause {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 20px;
  
    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    cursor: pointer;
  
    /* // play state */
    border-style: solid;
    border-width: 11.4px 0 11.4px 18.5px;
}

.paused {
    border-style: double;
    border-width: 0px 0 0px 18.5px;
}

.wait-for-hov {
    background: linear-gradient(to top right, rgb(52 211 153),rgb(28, 130, 225)) no-repeat
    calc(200% - var(--i,0)*100%) 100% / 200% calc(100%*var(--i,0) + .08em); 
    transition: .2s calc(var(--i,0)*.2s), background-position .2s calc(.2s - calc(var(--i,0)*.2s));
}

.wait-for-hov:hover {
    --i:1;
}

.play-pause:hover {
    border-color: transparent transparent transparent #23e657;
  }

  .typewriter {
    color: #fff;
    /* font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust as needed */
    animation: 
      typing 3s steps(30, end),
      blink-caret .4s step-end 10;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }