---

---
<div class=" w-full relative pb-[46.75%] z-0">
    <div class=" overlay absolute top-0 left-0 w-full h-full z-[1]" id="overlay" />
    <span class="absolute w-full h-full -mt-8 flex flex-col justify-center items-center z-[2]">
        <h1 class="text-5xl font-Futura text-white mb-5"> Welcome to</h1>
        <h1 class="text-5xl font-Futura text-white">RAGGSTARRECORDS</h1>
        <a href="https://booking.raggstarrecords.com" class="bg-white rounded-sm px-10 text-lg font-semibold tracking-widest mt-36 py-4">
            Book Now
        </a>
    </span>
    <video autoplay loop muted class="absolute">
        <source src="./home-clip.mp4" type="video/mp4" />
    </video>
</div>
<style>
	.overlay {
		background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
      	background-size: 10px 10px; /* Adjust the size of the grainy pattern */
	}
</style>