---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/main-logo-no-bg.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav>
			<div class="bg-[black] flex justify-between items-center pr-20 pt-4 pl-10">
				<img class="h-28 rounded-xl z-[1]" src="/main-logo-raggstar.jpg" />
				<span class="flex gap-20">
					<div class="bg-gradient-to-tr rounded-xl flex p-1 justify-center from-blue-600 to-emerald-400">
							<a href="/" 
								class="text-white font-Karrik text-xl z-[1] bg-black rounded-xl py-2 px-4 ">
								Home
							</a>
					</div>
					<div class="bg-gradient-to-l rounded-xl flex p-1 justify-center from-blue-600 to-emerald-400">
						<a href="/artists" 
							class="text-white font-Karrik text-xl bg-black z-[1] rounded-xl py-2 px-4 tracking-wider">
							Artists
						</a>
					</div>
				</span>
			</div>
		</nav>
		<slot />
		<footer>
			<div class=" flex justify-center flex-col pt-8 pb-6 gap-6 items-center">
				<span class="bg-white flex gap-4 flex-row">
					<a href="https://www.instagram.com/raggstarrecords/">
						<img src="../IG.svg"  class="h-[25px]"/>
					</a>
					<a href="https://www.tiktok.com/@raggstarrecords">
						<img src="../TikTok.svg"  class="h-[25px]"/>
					</a>
					<a href="https://www.youtube.com/@raggstarrecords3739">
						<img src="../YouTube.svg" class="h-[25px]"/>
					</a>
				</span>
				<span class=" font] text-xs">
					© 2022 RAGGSTARRECORDS | Atlanta, GA
				</span>
			</div>
		</footer>
	</body>
</html>
<style>
	@font-face {
		font-family: 'FuturaLTW01-Medium';
		src: url('../Futura LT W01 Medium.ttf') format('ttf');
		src: url('../Futura LT W01 Medium.woff') format('woff');
		src: url('../Futura LT W01 Medium.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Karrik';
		src: url('../Karrik-Regular.ttf') format('ttf');
		src: url('../Karrik-Regular.woff') format('woff');
	}

	h1 {
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	}
</style>